@model IEnumerable<ProyectoVentas.Models.Entidades.Producto>

    <h4 class=" text-center">Catálogo de Productos</h4>

<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 5px;
    }
</style>


    <div class="row">
        @foreach (var producto in Model)
        {
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                <img class="card-img-top" src="@producto.URLImagen" alt="Imagen del Producto" style="height:150px; max-width:200px;">
                    <div class="card-body">
                        <h5 class="card-title">@producto.Nombre</h5>
                        <p class="card-text">@producto.Descripcion</p>
                        <p class="card-text">Precio: L. @producto.Precio</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">                              
                                <button type="button" class="btn btn-sm btn-outline-success">Agregar al carrito</button>
                            <a onclick="showInPopup('@Url.Action("Detalles", "Catalogo", new { id =producto.Id }, Context.Request.Scheme)' ,
                            '')" class="btn btn-outline-info btn-sm">Ver Detalles </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

<partial name="_MostrarModal" />


@section Scripts{
    <script src="~/js/showmodal.js"></script>
}